

<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>

<p>
  <strong>Wallpost:</strong>
  <%= @comment.wallpost_id %>
</p>

<p>
  <strong>Comment message:</strong>
  <%= @comment.comment_message %>
</p>

<p>
  <strong>Comment date:</strong>
  <%= @comment.comment_date %>
</p>


